.banners {
    position: relative;
    flex-wrap: wrap;
    height: 100px;
    width: 200px;
    gap: 30px;
    display: flex;
    flex-direction: column;
}

.sideBanner {
    position: absolute;
    width: 200px;
    height: 350px;
    background-color: #ffffff;
}

.sideBanner img {
    width: 100%;
}
