:root {
    --gap: 20px;
}
.totalbox {
    background-color: #212529;
    width: 100px;
    min-height: 100vh;
}

.main {
    background-color: gray;
    width: 100%;
}

.title-logo {
    padding-left: 40px;
    color: white;
    font-family: 'Anton', sans-serif;
    font-size: 27px;
    display: flex;
}
.container {
    max-width: 1200px;
    margin: 50px auto;
}

.header {
    background-color: #212529;
    display: flex;
    padding: 15px;
    /* justify-content:; */
}
.logo-img {
    height: 40px;
}

.big-box {
    display: flex;
    min-height: 100vh;
}
body,
html {
    height: 100%;
    margin: 0;
}

body {
    background-color: #efefef;
}

.total-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.search-box {
    align-items: center;
    width: calc(100% - 800px);
}
.box {
    background-color: #ddd;
    padding: var(--gap);
    display: flex;
    gap: var(--gap);
    min-height: 400px;
    flex-direction: row;
}

.box.align_right {
    flex-direction: row-reverse;
}

.box-sidebar,
.box-contents {
    background-color: rgba(0, 0, 0, 0.1);
    padding: var(--gap);
}

.box-sidebar {
    width: 140px;
    flex-shrink: 0;
}

.box-contents {
    flex-grow: 1;
    min-width: 0;
}

.main {
    display: flex;
    flex-wrap: wrap;
    background-color: gray;
    padding: var(--gap);
    gap: 40px;
}

.qnaboard,
.toyprojectboard {
    padding: 20px;
    border: 2px solid #000;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    margin-bottom: 20px;
    box-sizing: border-box;
}

.boards {
    width: calc(100% - 240px);
}

.banners {
    flex-wrap: wrap;
    width: 200px;
    gap: 30px;
    display: flex;
    flex-direction: column;
}

.banner {
    padding: 10px;
    height: 300px;
    border: 2px solid #000;
    border-radius: 10px;
    margin-right: 2%;
    box-sizing: border-box;
    background-color: #212529;
    color: wheat;
}

.banner:last-child {
    margin-right: 0;
}

.contentBox {
    display: flex;
    gap: 15px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding-top: 10px;
    padding-bottom: 10px;
}

.viewAndLike {
    display: flex;
    gap: 60px;
}

.titleAndContent {
    width: 70%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.image {
    width: 140px;
    border-radius: 10px;
    overflow: hidden;
}

img {
    width: 100%;
}

.infobox {
    background-color: #3b5064;
    border-radius: 10px;
    padding: 30px 20px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 50px;
}

.circleImage {
    width: 270px;
    border-radius: 10%;
    overflow: hidden;
}

/* userInfo 컨테이너에 대한 스타일 */
.userInfo {
    background-color: #f8f8f8;
    border: 2px solid #333;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    font-family: 'Helvetica', sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.infoAndButton {
    width: calc(100% - 290px);
}

/* 라벨 스타일 */
label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: white;
    font-weight: bolder;
}

/* 입력 필드 스타일 */
input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* 버튼 스타일 */
button {
    grid-column: span 2;
    background-color: #212529;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* 버튼 호버 효과 */
button:hover {
    background-color: black;
}

.infoform {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.infoform > div {
    width: calc(50% - 10px);
}

.boxes {
    border-radius: 10px;
    background-color: rgb(235, 233, 228);
    border: 1px solid white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.box1 {
    display: flex;
    gap: 20px;
}

.imgBox {
    width: 90px;
    height: 90px;
    overflow: hidden;
    border-radius: 10px;
}

.posts {
    width: 100%;
}

.post {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.boxBox {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.likeAndview {
    display: flex;
    gap: 10px;
}

.likeAndview > div {
    width: 30px;
}

.boxTitle {
    font-weight: 900;
    font-size: 25px;
    text-align: center;
}
