p,
ul {
    margin-bottom: 0;
}
:root {
    --gap: 20px;
}
.totalbox {
    background-color: #212529;
}

.title-logo {
    padding-left: 40px;
    color: white;
    font-family: 'Anton', sans-serif;
    font-size: 27px;
}
.container {
    max-width: 1200px;
    margin: 50px auto;
}

.header {
    background-color: #212529;
    display: flex;
    padding: 15px;
    /* justify-content:; */
}
.logo-img {
    height: 40px;
}

.total-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.search-box {
    align-items: center;
    width: 1500px;
}
.box {
    background-color: #ddd;
    padding: var(--gap);
    display: flex;
    gap: var(--gap);
    min-height: 400px;
    flex-direction: row;
}

.box.align_right {
    flex-direction: row-reverse;
}

.box-sidebar,
.box-contents {
    background-color: rgba(0, 0, 0, 0.1);
    padding: var(--gap);
}

.box-sidebar {
    width: 140px;
    flex-shrink: 0;
}

.box-contents {
    flex-grow: 1;
    min-width: 0;
}
/* main */
#content {
    width: 100%;
    display: flex;
    gap: 20px;
}
/*mainbar*/
#mainbar {
    width: calc(100% - 220px);
}

/* headline */
.first-headline {
    display: flex;
    flex-direction: row;
}

#headline-question {
    margin-left: auto;
}

.sub-headline {
    margin-bottom: 30px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
    border-bottom-color: black;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}
#sub-headline-created,
#sub-headline-updatedAt,
#sub-headline-hitcounts {
    padding-right: 30px;
}
.second-headline .category {
    margin-left: auto;
}
/* postList */

.ck-editor__editable {
    height: 200px;
}
.ck-content {
    font-size: 12px;
}

#post-layout {
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
}

#post-cell {
    width: 100%;
    border-width: 2px;
    border-color: black;
    border-style: solid;
    margin-left: 10px;
    padding: 30px;
    display: flex;
    gap: 20px;
}

#post-cell .imageBox {
    width: 20%;
    margin-left: auto;
}

.votebar {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.vote-count {
    margin-top: 10px;
    margin-left: 5px;
    margin-bottom: 10px;
}

#tagBox {
    margin-left: 30px;
    margin-bottom: 30px;
    display: flex;
    gap: 10px;
}

#tagBox .tagButton {
    display: inline-block;
    padding: 8px 16px;
    border-radius: 8px;
    border: 1px solid black;
    background-color: white;
    color: black;
    cursor: pointer;
}

#tagBox .tagButton:hover {
    color: white;
    background-color: black;
    transition: all 0.3s;
}

.comment-list {
    margin-top: 10px;
    font-size: 12px;
    padding: 10px;
    border-width: 2px;
    border-color: black;
    border-style: solid;
}
.comment-list ul li {
    border-top: 2px solid black;
}
.comment-list ul li:first-child {
    border-top: none;
}

.commentForm {
    display: none;
}

.comment-editor {
    display: flex;
    gap: 10px;
    border-width: 2px;
    border-color: black;
    border-style: solid;
    margin-top: 10px;
    padding: 20px;
    align-items: center;
}

.comment-content {
    display: flex;
    flex-direction: row;
}

.commentBox {
    padding: 10px;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.comment-buttons {
    margin-left: auto;
}

.comment-buttons button {
    display: inline-block;
    padding: 4px 8px;
    border-radius: 8px;
    font-size: 10px;
    border: 1px solid black;
    background-color: white;
    color: black;
    cursor: pointer;
}

.comment-buttons button:hover {
    color: white;
    background-color: black;
    transition: all 0.3s;
}

.commentSubmit {
    display: inline-block;
    padding: 8px 16px;
    border-radius: 8px;
    font-size: 12px;
    background-color: white;
    border: 1px solid black;
    color: black;
    cursor: pointer;
}
.commentSubmit:hover {
    color: white;
    background-color: black;
    transition: all 0.3s;
}

#commentInput {
    height: 100px;
}
